<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/header :: header(title = 'Calculators', cssLick = '/calculator.css')}"></div>

<body>
<div id="page-container">
    <div id="content-wrap">

        <!--  Navbar section-->
        <div th:replace="~{fragments/navbar :: navbar}"></div>


        <!--Content section-->
        <div class="_content-position">
            <samp class="_text-title">Trigonometric functions</samp>
        </div>


    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>