/**/
/*Image*/
._img-example-task{
    margin-top: 2rem;
}
._img-example{
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/**/
/*Fraction*/
._frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
._frac > span {
    display: block;
    padding: 0.1em;
    margin: 0;
}
._frac span.bottom {
    border-top: medium solid black;
}
._frac span.symbol {
    display: none;
}

/**/
/*Exception*/
._text-result-exception{
    color: #cb0a0a;
}

/**/
/*Example*/
._text-example-title{
    margin: 0;
}

/**/
/*Input*/
._numeration-border{
    border-bottom: thin solid black;
}
._denominator-border{
    border-top: thin solid black;
}