<th:block th:fragment="footer">

    <div class="_footer-margin-top">

    </div>

    <footer id="footer" class="_items-align-center _footer">

        <div class="_items-align-center _footer-rules">
            <a href="/termsAndConditions#disclaimer" class="_footer-rules-link">Disclaimer</a>
            <samp class="_footer-rules-link">|</samp>
            <a href="#" class="_footer-rules-link">Privacy Policy</a>
            <samp class="_footer-rules-link">|</samp>
            <a href="/termsAndConditions#termsAndConditions" class="_footer-rules-link">Terms & Conditions</a>
        </div>
        <div>
            <samp class="_footer-copyright">©2023 MathOnline. All rights reserved</samp>
        </div>
    </footer>
</th:block>