<th:block th:fragment="navbar">
    <header>
        <nav class="_navbar-background _navbar-position">
            <div class="_navbar-content-left">
                <div>
                    <a class="_navbar-font-link _navbar-text-brand " href="/" th:href="@{/}">MathOnline</a>
                </div>
                <div>
                    <a class="_navbar-font-link _navbar-text-link" href="/calculatorsList"
                       th:href="@{/calculatorsList}">Calculations</a>
                </div>
            </div>
            <div class="_navbar-content-right">
                <a href="#">
                    <img class="_navbar-icon _align-title-text" src="/img/icons/global_icon.png" alt="Language">
                </a>
            </div>
        </nav>
    </header>
</th:block>