
/*._text-title{*/
/*    font-family: 'Wix Madefor Text', sans-serif;*/
/*    font-size: 3rem;*/
/*    font-weight: 400;*/
/*    margin-top: 1rem;*/
/*}*/
/*._text-text{*/
/*    font-family: 'Wix Madefor Text', sans-serif;*/
/*    font-size: 1.4rem;*/
/*    font-weight: 300;*/
/*}*/


._border{
    border: 3px solid #F1EFEF;
}

._calc-form-position{
    margin-top: 2rem;
}

._img-triangeln{
    height: 18rem;
}
._img-function{
    height: 20rem;
    margin-left: 2rem;
}


._form-select-position{
    margin-right: 0.8rem;
}
.form-select{
    font-size: 2rem;
}
.form-select:valid:focus{
    box-shadow: none;
    border: 3px solid #0F2C59;
}


._input-number{
    text-align: center;
    width: 10rem;
    font-size: 2rem;
}
._breaks{
    font-size: 2.4rem;
}

._input-radio-form-position{
    margin-bottom: 1rem;
}
._input-ratio-position{
    margin-left: 0.5rem;
}
._input-radio{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2.2rem;
    margin-right: 0.1rem;
}
._radio-labels{
    font-size: 2rem;
}

._trig-result{
    margin-left: 1.5rem;
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}
._trig-button{
    margin-top: 2rem;
    font-size: 2rem;
}


._table-section-position{
    margin-top: 3rem;
    /*margin-bottom: 12rem;*/
}
table{
    margin-top: 1rem;
    max-width: 45rem;
}
table, tr, td {
    width: 100%;
    min-width: 5rem;
    border: 1px solid #252B48;
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    font-size: 1rem;
    font-family: 'Wix Madefor Text', sans-serif;
}



