/**/
/*Positions*/
._new-section-position{
    margin-top: 3rem;
    /*margin-bottom: 12rem;*/
}
._calc-form-position{
    margin-top: 2rem;
}

/**/
/*Buttons*/
._calc-button{
    margin-top: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    background-color: #0F2C59;
}
._calc-button:hover{
    background-color: #234f91;
}
._reset-button{
    margin-top: 2rem;
    font-size: 2rem;
    margin-right: 2rem;
}

/**/
/*Selector*/
._form-select-position{
    margin-right: 0.8rem;
}
.form-select{
    font-size: 2rem;
}
.form-select:valid:focus {
    box-shadow: none;
    border: 3px solid #0F2C59;
}

/**/
/*Inputs*/
._input-number{
    text-align: center;
    width: 10rem;
    font-size: 2rem;
}
._border{
    border: 3px solid #F1EFEF;
}
._input-radio-form-position{
    margin-bottom: 1rem;
}
._input-ratio-position{
    margin-left: 0.5rem;
}
._input-radio{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2.2rem;
    margin-right: 0.1rem;
}
._radio-labels{
    font-size: 2rem;
}

/**/
/*Text*/
._text-calc-result{
    margin-left: 1.5rem;
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

/**/
/*Example*/
._example-background{
    background-color: #efeded;
    border-radius: 3px;
    border: 3px solid #F1EFEF;
    padding: 1rem;
}





