._center{
    text-align: center;
}

._content-position{
    margin: 1rem 0rem 0rem 1rem ;
}

._text-title{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 1rem;
}

