html {
    scroll-behavior: smooth;
}
body {
    background-color: #F9F7F7;
}

._content-position{
    margin: 1rem 20rem 0rem 1rem ;
}

._items-align-center{
    display: flex;
    align-items: center;
}

._text-align-center{
    text-align: center;
}

._text-mainTitle{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    margin-top: 1rem;
}
._text-minorTitle{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 1rem;
}
._text-simple{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}