html {
    scroll-behavior: smooth;
}
body {
    background-color: #F9F7F7;
}

/**/
/*Header fixed on top viewport*/
._sticky {
    position: fixed;
    top: 0;
    width: 100%
}
/**/

/**/
/*Setup text case*/
._uppercase-each-sentences{}
/**/

/**/
/*Items positions*/
._content-position{
    margin: 1rem 20rem 0rem 1rem ;
}

._items-align-row-center{
    display: flex;
    align-items: center;
}
._items-column{
    display: flex;
    flex-direction: column;
}
._text-align-center{
    text-align: center;
}

._item-simple-margin{
    margin: 1rem;
}
/**/

/**/
/*Font size*/
._text-mainTitle{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1rem;
}
._text-minorTitle{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 1rem;
}
._text-simple{
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}
strong{
    font-weight:bold;
}

/**/