<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/header.html :: header(title = 'Calculators', cssLick = '/calculatorsList.css')}"></div>
<body>
<div id="page-container">
    <div id="content-wrap">

        <!--  Navbar section-->
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <!--Content section-->
        <div class="_content-position" >
            <div class="_text-align-center">
                <samp class="_text-mainTitle">Calculators</samp>
            </div>

            <!--TODO Loop of calculation's type-->

            <th:block>
                <div>
                    <samp class="_text-minorTitle">Trigonometry</samp>

                    <!--TODO Loop from calculation's type-->
                    <th:block>
                        <div>
                            <ul>
                                <li>
                                    <a class="_text-simple _links" href="/trigonometry">Calculation of sine, cosine, tangent and cotangent</a>
                                </li>
                            </ul>
                        </div>
                    </th:block>
                </div>
            </th:block>

        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
</body>
</html>