<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/header.html :: header(title = 'Calculators', cssLick = '/calc-converterList.css')}"></div>
<body>
<div id="page-container">
    <div id="content-wrap">

        <!--  Navbar section-->
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <!--Content section-->
        <div class="_content-position">
            <div class="_text-align-center">
                <samp class="_lang-calculators _uppercase-each-sentences _text-mainTitle">calculators</samp>
            </div>

            <!--Trigonometry-->
            <div>
                <samp class="_lang-trigonometry _uppercase-each-sentences _text-minorTitle">trigonometry</samp>
                <div>
                    <ul>
                        <li>
                            <a class="_lang-trigonometry_functions _text-simple _links" href="/trigonometry">calculation of sine, cosine, tangent and cotangent</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--Fractions, Percentages-->
            <div>
                <samp class="_lang-fractions_percentages _uppercase-each-sentences _text-minorTitle">fractions, percentages</samp>
                <div>
                    <ul>
                        <li>
                            <a class="_lang-reduction_fraction _text-simple _links" href="/reduction-fraction">reducing arithmetic fractions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</div>


    <!--Scripts section-->
    <div th:replace="~{fragments/scriptsfragment :: scripts(scriptLink = null, langJsonPath = '/json/lang/langCalculationsList.json')}"></div>
</body>
</html>